body {
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url("./images/sand.jpg")
}

#wrap {
    display: flex;
    height: 100vh;
    width: 800px;
    flex-direction: column;
    align-self: center;
}

.row {
    display: flex;
    height: 100%;
    flex-grow: 1;
    /* background-color: rgb(105, 102, 102); */
}

.wall {
    background-image: url("./images/stoneWall.png");
    flex-grow: 1;
}

.cell {
    flex-grow: 1;
}

#start {
    background-color: brown;
}

#finish {
    background-image: url("./images/dungeonDoor.png");
    background-size: cover;   
}

#playerIcon {
    background-image: url("./images/Adventurer.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#playerIconStorage {
    background-image: url("./images/adventurerStorage.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#barrel {
    /* background-color: rgb(105, 102, 102); */
    background-image: url("./images/barrel.png");
    background-position: center;
    background-repeat: no-repeat;
}

#storage {
    /* background-color: rgb(105, 102, 102); */
    background-image: url("./images/trapDoor.png");
    background-position: center;
    background-repeat: no-repeat;
}


#filledStorage {
    /* background-color: rgb(105, 102, 102); */
    background-image: url("./images/barrelFilled.png");
    background-position: center;
    background-repeat: no-repeat;
}